//Structure
$grid-gutter-width = 20px
$container-max-width = 1185px
$header-height = 60px
$grid-breakpoints = {
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
}

// Typo
$font-primary = 'Inconsolata', sans-serif
$font-header = $font-primary
