.page-transition-enter-active, .page-transition-leave-active {
  transition: all .5s;
}

.page-transition-enter, .page-transition-leave-active {
  opacity: 0;
}

.page-transition-enter {
  opacity: 0;
}

.page-transition-leave-active {
  opacity: 0;
}
