:root
  --color--primary #000000
  --color--primary--lighten #0d0d0d
  --color--secondary #ffffff

  --color--header-background #ffffff
  --color--footer-background #f2f2f2

  --color--selection #ffffff
  --color--selection-background #8c8c8c

  --color--body #4B4F56
  --color--body--background #ffffff

  --color--gray #90949c
  --color--border #E9EBEE
  --color--link #569362
  --color--link-hover #376842

  --color--quote-border #90949c
